#############################################
# Weather Data Pipeline - Example .env file #
#############################################

OPENWEATHERMAP_API_KEY=your_api_key_here

LOG_LEVEL=INFO

POSTGRES_CONNECTION=postgresql://user:password@localhost:5432/weatherdb
